body{
    font-family: "B Nazanin";
    overflow: hidden;
}
.logo{
}
.bg-image{
    margin-top: -150px;
    margin-left: -100px;
}
.bg-sm{
    margin-left: -200px;
    margin-top: -120px;
}
.search-btn{
    margin-right: -300px;
}
.fa-map-marker{
    margin-lef: -350px;
}

